<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/header', { title: 'Dashboard' }) -%>
<body>

    <%- include('./layouts/nav') -%>
    
    <div>
        <h1>Dashboard</h1>
        <p>DriveTest Booking Kiosk</p>
    </div>
</body>

    <%- include('./layouts/footer') -%>
</html>
